body {
    font-family: Calibri;
    margin: 0;
    background-color: #ededf5;
}
.header {
    background-color: #dc143c;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 20px;
    position: relative;
    border-radius: 10px;
}
.header-title {
    font-size: 60px;
    font-weight: bold;
    color: #ededf5;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.menu {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.menu-item {
    font-size: 20px;
    color: #ededf5;
    text-decoration: none;
}
.logo {
    width: 80px;
    height: 80px;
    padding-left: 20px;
}
.menu-right {
    display: flex;
    gap: 20px;
}
.menu-item:hover {
    text-decoration: underline;
}
.banner-container{
    position: relative;
    text-align: center;
    color: #ededf5;
}
.banner-image{
    width: 100%;
    height: auto;
}
.banner-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
    color: #ededf5;
}
.banner-text h1{
    font-size: 50px;
    margin: 0;
}
.banner-text p{
    font-size: 20px;
    margin-top: 10px;
}
