body {
    font-family: Calibri;
    margin: 0;
}
.header {
    background-color: #ededf5;
    border-bottom: 1px solid #dc143c; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 20px;
    position: relative;
}
.header-title {
    font-size: 35px;
    font-weight: bold;
    color: #dc143c;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.menu {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.menu-item {
    font-size: 14px;
    color: #1d2228;
    text-decoration: none;
}
.logo {
    width: 30px;
    height: 30px;
}
.menu-right {
    display: flex;
    gap: 20px;
}
.menu-item:hover {
    text-decoration: underline;
}
@media (max-widht: 768px) {
    .menu {
        display: none;
    }
}
