body {
    font-family: Arial, sans-serif;
    margin: 0;
}
.header {
    background-color: #ededf5;
    border-bottom: 1px solid #dc143c; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 20px;
}
.header-title {
    font-size: 24px;
    font-weight: bold;
    color: #dc143c;
}
.menu {
    display: flex;
    gap:  20px;
    position: absolute;
    left: 20px;
}
.menu-item {
    font-size: 14px;
    color: #1d2228;
    text-decoration: none;
}
.menu-item:hover {
    text-decoration: underline;
}
@media (max-widht: 768px) {
    .menu {
        display: none;
    }
}
